.dashboard{
    border: 1px solid #0629C6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    padding-bottom: 6rem;
}

.moneyData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 6rem;
  }
  
  .moneyData p {
    font-size: 11px;
    font-weight: 700;
  }
  .item{
    margin-top: 1rem;
    user-select: none;
    border-radius: 16px;
    width: 220px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
  }
  
  .item:hover{
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
  }
  
  .icon{
      width: 60px;
      height: 50px;
      border-radius: 10px;
      margin-right: 20px;
  }
  
  svg{
    width: 60px;
  }

  h1{
    margin-top: 70px;
    text-align: center;
  }
  
  .transactionButton{
    width: 300px;
    height: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    border-radius: 11px;
  }


  .addNewItems{
      width:70%;
      margin: auto;
      margin-top: 80px;
      background-color: white;
      padding: 4rem;
      border-radius: 10px;
      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
  }

  .nameOfItemInput{
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    padding: 10px;
    font-size: 0.95em;
    border-radius: 6px;
  }

  .costOfItemInput{
      width: 100px;
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
      outline: 0;
      padding: 10px;
      font-size: 0.95em;
      border-radius: 6px;
  }


  

  .addItemButton {
    width: 100%;
    margin-bottom: 30px;
    height: 30px;
    margin-top: 50px;
    box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    background-color:#4398c9;
    border-radius:5px;
    border:1px solid #2730ad;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    padding-bottom: 25px;
    text-decoration:none;
    text-shadow:0px -1px 0px #283966;
  }
  .addItemButton:hover {
    background-color:#437dd4;
  }
  .addItemButton:active {
    position:relative;
    top:1px;
  }

  .addTheTransactionButton {
    margin-bottom: 30px;
    height: 30px;
    margin-top: 20px;
    box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    background-color:#4398c9;
    border-radius:5px;
    border:1px solid #2730ad;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    padding-bottom: 25px;
    text-decoration:none;
    text-shadow:0px -1px 0px #283966;
  }
  .addTheTransactionButton:hover {
    background-color:#437dd4;
  }
  .addTheTransactionButton:active {
    position:relative;
    top:1px;
  }

