.graph{
    border: 1px solid #0629C6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    padding-bottom: 6rem;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}