@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
  background-color:#FAFAFA;
}
.App {
  display: grid;
  grid-template-columns: 200px 0.9fr;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 1rem;
}

.navBar {
  height: 100%;
}

.navBar ul {
  margin-top: 4rem;
  display: inline-block;
  list-style: none;
}

.navBar li{
  margin-top: 2rem;
}

select{
      padding: 10px;
      border-radius: 6px;
      font-weight: 700;
      width: 100px;
}
